{{ ansible_managed | comment }}

location = /favicon.ico$ {
  log_not_found off;
  access_log off;
}

location = /robots.txt$ {
  log_not_found off;
  access_log off;
}

rewrite /administrator$ $scheme://$host$uri/index.php permanent;
location /administrator {
  set $skip_cache 1;
}

location /installation {
  set $skip_cache 1;
}

location ~* /(images|cache|media|logs|tmp)/.*\.(php|pl|py|sh|cgi)$ {
  return 403;
  error_page 403 /403_error.html;
}

location ~* /\. {
  deny all;
}

try_files $uri $uri/ /index.php/$args;

# caching
location ~* \.(js|css|png|jpg|jpeg|gif|xml|txt|ico|pdf)$ {
  expires max;
}

gzip            on;
gzip_comp_level 6;
gzip_proxied    any;
gzip_types      text/plain application/xhtml+xml text/css application/xml application/xml+rss text/javascript application/javascript application/x-javascript;
