# nat http(s) requests to udpate Joomla
# https://www.maxcdn.com/one/tutorial/ip-blocks/
table <maxcdn_ips> persist file "/etc/pf.table.maxcdn.ips"
table <joomla_download_ips> file "/etc/pf.table.joomla.download.ips"
nat pass log on {{ host_net_ext_if }} proto tcp \
  from {{ jail_net_ip }} \
  to <maxcdn_ips> port { http,https } \
  -> {{ host_net_ext_ip }}
# nat http(s) request to update/download joomla plugins
nat pass log on {{ host_net_ext_if }} proto tcp \
  from {{ jail_net_ip }} \
  to <joomla_download_ips> port { http,https } \
  -> {{ host_net_ext_ip }}
