# nat http(s) requests to udpate Joomla
# https://www.maxcdn.com/one/tutorial/ip-blocks/
table <maxcdn_ips> persist file "/etc/pf.table.maxcdn.ips"
pass log on {{ host_net_int_if }} proto tcp \
  from {{ jail_net_ip }} \
  to <maxcdn_ips> port { http,https } \
  label {{ joomla_server_name_ }}-updates
